{
  "trailingComma": "all",
  "tabWidth": 4,
  "printWidth": 120,
  "singleQuote": false,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "angular"
      }
    }
  ]
}