<header id='header' class='header' data-header-height='90' data-sticky-header-height='80'>
    <div class='header-body'>
        <div class='header-container'>
            <div class='header-row'>
                <div class='header-column'>
                    <div class='header-logo'>
                        <a href=''>
                            <img src='../images/logo-white.svg' alt='' id='logo-white'>
                            <img src='../images/logo-colored.svg' alt='' data-sticky-width='160' id='logo-colored'>
                        </a>
                    </div>
                </div>
                <div class='header-column'>
                    <div class='header-nav'>
                        <nav>
                            <ul>
                                <li class='menu-item'>
                                    <a href='about-us.html'>Corporate</a>

                                    <ul class='sub-menu'>
                                        <li class='menu-item'>
                                            <a href='#'>About Us</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>References</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>Human Resources</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>GDPR</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class='menu-item'>
                                    <a href='#'>Products</a>

                                    <ul class='sub-menu'>
                                        <li class='menu-item'>
                                            <a href='#'>About Us</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>References</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>Human Resources</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>GDPR</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>About Us</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>References</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>Human Resources</a>
                                        </li>
                                        <li class='menu-item'>
                                            <a href='#'>GDPR</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class='menu-item'>
                                    <a href='#'>Services</a>
                                </li>

                                <li class='menu-item'>
                                    <a href='#'>GDPR</a>
                                </li>

                                <li class='menu-item'>
                                    <a href='#'>Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class='header-column'>
                    <div class='buttons'>
                        <a href='#' class='btn'>
                            Catalog
                        </a>

                        <a href='#' class='btn' id='contact'>
                            CONTACT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
