<div class="sidenav" id="sideNav">
    <div class="sidenav-wrapper">

        <div class="close-button" id="close-button">
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li class="menu-item">
                    <a href="#">Corporate</a>

                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">About Us</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Certificates</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">GDPR</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">About Us</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">Services</a>

                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">About Us</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">Certificates</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">GDPR</a>
                        </li>

                        <li class="menu-item">
                            <a href="#">About Us</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">Products</a>
                </li>

                <li class="menu-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
