.btn {

}

.primary-btn {
    @apply
    bg-primary
    py-[15px] px-[25px]
    text-white text-[16px] leading-[16px] tracking-[-0.03em]
    transition-all duration-500;

    &:hover {
        @apply
        bg-dark
        text-primary;
    }
}
