.modal-container {
    @apply
    fixed w-screen h-screen
    top-0 left-0 z-50 translate-y-0
    transition-all ease-in-out duration-300;

    .modal {
        @apply
        w-full h-full py-[80px]
        bg-black/[.80] backdrop-blur-[20px]
        overflow-hidden
        flex items-center justify-center
        absolute top-0 left-0
        transition-all ease-in-out duration-300;

        .close-button {
            @apply
            absolute top-[30px] right-[18px] p-[15px_21px] max-w-[55px] max-h-[55px] cursor-pointer;

            i {
                @apply
                text-[20px] text-white;
            }
        }

        .modal-body {
            @apply
            max-w-[960px] max-h-[700px] w-full h-max
            mx-auto px-5 py-10
            rounded-[8px]
            bg-white;

            .modal-content {
                @apply
                w-full h-full;

                img {
                    @apply w-full;
                }
            }
        }

        @media (max-width: 960px) {
            @apply
            px-5;
        }

        &.closed {
            @apply
            hidden
            pointer-events-none
            translate-y-[100%];
        }

        &.opened {
            @apply
            flex
            pointer-events-auto
            translate-y-[0];
        }
    }

    &.closed {
        @apply
        pointer-events-none
        transition-all ease-in-out duration-300
        top-[-100%];
    }
}
