{{#> layout }}

{{> partials/header
catalogName="Catalog"
logoWhite="logo-white.svg"
}}

{{> components/breadcrumb }}

<div id='index-page'>
    <img src='https://placehold.co/1920x1080/333333/FFF' alt=''>
    <div class='container mx-auto px-5'>
        <h1>Merhaba!</h1>
        <h2>Starter'a hoşgeldin.</h2>

        <p>
            Bu starter statik veya daha sonrasında dinamik bir yapıya geçecek olan projelerinize hızlı bir başlangıç
            yapmanız için hazırlanış olan bir starter'dır.
        </p>

        <p>HTML, CSS (SCSS), JS ve yardımcı paketler ile birlikte sizlere hızlı kodlama imkanı sağlar</p>

        <p>Peki içerikler neler?</p>

        <ul>
            <li>Tailwind ile klasör bazlı SCSS yapısı</li>
            <li>Hızlı font yükleme ve tanımlama</li>
            <li>Klasör bazlı JS yapısı</li>
            <li>Layout ve component yapısı</li>
            <li class='italic'>jQuery kullanılamaz. Kullanılması teklif dahi edilemez.</li>
        </ul>

        <p class=''>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam, commodi culpa cumque est
            excepturi
            impedit, ipsum itaque mollitia nam nemo neque non odio omnis optio pariatur quasi quisquam ratione
            recusandae
            tempore. Alias assumenda aut cum deserunt exercitationem facilis, iusto? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Amet, consequuntur delectus deserunt doloribus eius est excepturi, fugiat ipsa
            neque nihil nobis odit omnis placeat quae quas quibusdam reprehenderit rerum sapiente sunt suscipit unde,
            veritatis vitae! Error explicabo in labore rerum. Aliquid amet deserunt doloremque facere illum natus
            necessitatibus placeat quis velit! Ab ad cum facilis molestias, nemo possimus sed tenetur. Ab accusamus
            accusantium amet aut consectetur culpa debitis dignissimos dolores dolorum eaque eum eveniet fuga in iste
            laborum, libero maxime neque non odio officiis quibusdam repudiandae sapiente voluptatum. Ab, aliquam
            assumenda cupiditate dignissimos doloribus eum fugit ipsam laboriosam magnam natus odio optio, quasi quidem
            quis sit sunt temporibus. Architecto autem debitis deleniti dolorem mollitia, odio reiciendis repudiandae
            ullam veritatis! Aliquid architecto laborum quam temporibus voluptates. Amet beatae blanditiis, cupiditate
            distinctio doloremque, dolorum enim eum expedita facilis illum labore laboriosam magnam nostrum obcaecati
            officiis placeat quaerat quas quos repellat repudiandae sit suscipit, temporibus unde ut veniam voluptatem
            voluptates. Consectetur eos libero porro praesentium quod unde. A incidunt modi mollitia porro quibusdam! Ad
            dolores ipsum tempora? Accusamus alias architecto corporis cumque delectus dolorem dolores eaque
            exercitationem fugiat, hic molestiae molestias mollitia nam officiis quas quo saepe sapiente sed totam
            voluptatem. Accusantium adipisci aperiam corporis delectus earum harum ipsam libero magnam magni maiores
            possimus ratione, rem ut! Corporis cupiditate deleniti dicta distinctio eius error est excepturi fugiat
            labore mollitia nobis quod recusandae, rem voluptatem voluptatum. Architecto assumenda consequatur
            consequuntur magni porro quos recusandae vel voluptate. Commodi id inventore nobis repudiandae. Ab explicabo
            harum in nulla perspiciatis placeat quasi reiciendis? Est excepturi iste maxime repellendus ullam
            voluptates. Accusantium blanditiis consequatur neque nisi qui recusandae sit veniam, voluptatibus. Amet
            asperiores aut eos ipsum mollitia odit officiis porro sapiente ullam vero? Delectus dolore et facere fugiat
            laudantium magnam neque similique voluptatibus. A accusamus aliquam animi autem earum sed. Corporis,
            explicabo, obcaecati. Ad aut doloribus laborum molestiae nihil possimus repellat voluptas. Cumque debitis
            perspiciatis sequi. Accusamus accusantium aliquam aspernatur cumque, ducimus id minima nam nisi obcaecati
            officia optio, praesentium quisquam quod quos reprehenderit sint, sunt suscipit unde ut voluptas. Deserunt,
            quisquam, voluptas? Animi asperiores ducimus esse est laborum laudantium magnam modi nam nesciunt nobis
            nulla officia perferendis quasi quibusdam quod sint, vero voluptate. Asperiores distinctio dolores esse
            expedita explicabo facere facilis ipsa nisi omnis quia, sunt ullam velit. Consectetur doloribus eum ex iure
            optio provident quae sapiente veritatis, voluptatum? At dignissimos dolor earum fuga in ipsa libero magnam
            minus pariatur reiciendis rem, sequi velit, voluptas! Accusantium consequuntur mollitia odio quos sequi vero
            vitae! Asperiores dignissimos eveniet explicabo impedit maiores rem temporibus. Alias aperiam cupiditate
            delectus dolorum eaque earum eligendi esse et, eveniet excepturi ipsum itaque nam nesciunt non odio quam
            quas quis quod sint temporibus veritatis voluptatum.
        </p>

        {{> components/button
        url = "about-us.html"
        class = "primary-btn"
        title = "butonnnnn"
        }}
    </div>

    <div class='container'>
        <!-- Slider main container -->
        <div class='swiper'>
            <!-- Additional required wrapper -->
            <div class='swiper-wrapper'>
                <!-- Slides -->
                <div class='swiper-slide'><img src='https://placehold.co/600x400/000000/FFF' alt=''
                                               data-src='https://placehold.co/600x400/000000/FFF'
                                               data-fancybox='gallery'></div>
                <div class='swiper-slide'><img src='https://placehold.co/700x500/000000/FFF' alt=''
                                               data-src='https://placehold.co/700x500/000000/FFF'
                                               data-fancybox='gallery'></div>
                <div class='swiper-slide'><img src='https://placehold.co/800x500/000000/FFF' alt=''
                                               data-src='https://placehold.co/800x500/000000/FFF'
                                               data-fancybox='gallery'></div>
            </div>
            <!-- If we need pagination -->

            <!-- If we need navigation buttons -->
            <div class='swiper-button-prev'></div>
            <div class='swiper-button-next'></div>


        </div>

    </div>
</div>

{{> partials/footer }}

{{/layout}}
