{{#> layout }}
{{> partials/header
catalogName="Catalog"
logoWhite="logo-white.svg"
}}
{{> components/breadcrumb }}

<div id="index-page">
    <h1>clas</h1>
    <p class="!text-white">odldodwdnw</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis dignissimos, distinctio doloremque
        earum, est excepturi illo illum incidunt mollitia officiis, similique unde! Ab aspernatur at aut autem
        consectetur dicta exercitationem facere illo in inventore itaque maiores necessitatibus nobis, nostrum nulla
        numquam odio omnis placeat possimus praesentium quae quaerat quod recusandae repellat sequi sint sit sunt
        tempore totam ullam unde velit voluptas voluptatum! Aliquid dolore est fuga praesentium quam voluptatem.
        Consectetur corporis distinctio doloremque eos ipsam iure laboriosam magni natus nisi, nulla perferendis
        perspiciatis quibusdam voluptatibus? Deserunt, inventore, iusto. Beatae ducimus iste magni perferendis
        voluptates? Animi beatae doloremque esse illum laboriosam nemo odit sunt vel, vero! A ad aut distinctio dolor,
        eligendi enim error libero nesciunt omnis, quas quo recusandae totam veritatis. Amet animi architecto corporis,
        deleniti earum eligendi eum expedita maiores nam, nesciunt quia, reiciendis ut vitae. A aliquid aspernatur
        dolores ea error eveniet fugit, incidunt minima modi officiis omnis qui quisquam quo reiciendis rem
        reprehenderit tenetur totam? Autem, dicta, error! Blanditiis ducimus eius error illum impedit ipsam itaque
        minima repellat sed sint. Aperiam blanditiis dolorum ducimus ea ipsum iste modi quidem recusandae. Ad aliquid
        cum delectus dignissimos dolor dolorem, doloribus ducimus eos esse est et fuga laboriosam maiores nobis odit
        optio, quam quos ratione repudiandae sequi unde voluptatem voluptatibus. Adipisci aliquam cupiditate, dolor et
        eveniet laboriosam officiis qui, rerum sit suscipit ullam velit vero? Aliquid amet atque aut consequatur
        deleniti dolorum illo illum, impedit incidunt ipsa ipsam iusto labore molestias odit perspiciatis provident quia
        ratione suscipit tempore velit vero vitae voluptatem. Aperiam assumenda consequuntur culpa doloremque, eos et
        fuga hic inventore ipsum necessitatibus nemo nihil odio officia optio quis, quisquam quo rerum veniam, vitae
        voluptatem! Ad alias aliquam architecto assumenda at atque aut beatae blanditiis cum debitis eaque enim eos
        eveniet facere, hic impedit ipsa maiores maxime, nobis, non nostrum officia perferendis perspiciatis quia
        voluptatem. Ad beatae consequatur dicta distinctio eaque, ipsa, nemo neque numquam perferendis praesentium
        quibusdam recusandae reiciendis, similique tempore voluptas? Doloribus et illo, omnis perspiciatis quidem
        repellendus velit vero voluptas. Accusamus accusantium ad aliquid architecto asperiores aspernatur assumenda,
        consectetur cum cumque error et excepturi exercitationem explicabo fugit harum hic id illum ipsum labore laborum
        minima molestias obcaecati odit officiis omnis placeat, porro quibusdam quisquam quo rem temporibus unde
        veritatis voluptatem. Accusamus accusantium asperiores aspernatur blanditiis consequuntur cumque deleniti
        dolorem ducimus earum magni maxime molestiae natus, nisi, quaerat quia, reprehenderit tempora. Alias aperiam
        distinctio fuga fugiat inventore ipsam ipsum minima modi numquam officiis ratione rerum totam unde, vel, velit!
        Deserunt earum, facilis quisquam rem reprehenderit similique sunt temporibus. Aperiam deserunt dolorem esse
        eveniet facere harum, neque pariatur provident quam? Error eveniet omnis rerum veniam voluptatum. Aspernatur
        nihil odio recusandae sint tempora? Ab ad consequuntur cumque deserunt exercitationem incidunt inventore ipsam
        itaque laboriosam natus nulla, odit perspiciatis quas quis repudiandae tempora, voluptatem. Deserunt dignissimos
        ducimus est iusto maxime nulla quisquam ratione tempore. Amet asperiores atque blanditiis commodi culpa, debitis
        delectus, deserunt doloremque eligendi enim esse facere id laudantium libero, possimus quasi quia quis ratione
        rem sapiente vero!</p>
</div>

{{> partials/footer }}
{{/layout}}
