{{> partials/header.hbs }}

<script>
    async function content() {
        const response = await fetch("./src/data/data.json");
        const json = await response.json();
        return json.list;
    }
</script>

<template id="button">
    <button class="bg-black text-white rounded px-6 py-4">
        <span x-text="item.title"></span>
    </button>
</template>

<section>
    <div x-data="{ activeIndex: -1 }">
        <template x-for="(item, i) in content" :key="i">
            <div>
                <div @click="activeIndex = (activeIndex === i) ? -1 : i;"
                     class="cursor-pointer px-4 py-2 bg-primary-100 rounded-sm text-2xl text-black"
                     x-text="item.title">
                </div>
                <div x-show="activeIndex === i" x-collapse.duration.300ms>
                    <div x-text="item.description" class="text-xl text-primary-700 px-4">
                    </div>
                    <img src="assets/image/vite.svg" alt="" width="32" height="32" class="size-8">
                    <x-component url="{{resolve-from-root "partials/components/button.hbs"}}" x-data="item"></x-component>
                    <x-component template="button"></x-component>
                    <x-component url="{{resolve-from-root "partials/components/modal.hbs"}}"></x-component>
                </div>
            </div>
        </template>
    </div>
    <x-component url="{{resolve-from-root "partials/components/modal.hbs"}}"></x-component>

    <div class="container">
        <div class="w-full h-[220px] overflow-y-auto" data-lenis-prevent="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos ipsam iure magnam. Animi
                atque commodi dolore eaque eius eligendi, eveniet ex exercitationem inventore iure iusto labore
                laboriosam modi molestias mollitia nam nobis nulla obcaecati omnis optio porro quis quod reiciendis
                repellendus soluta totam vero voluptatum! Eaque facere maiores nesciunt officia praesentium. Architecto,
                at explicabo iure molestiae non odit quos tempora voluptatibus. Ab aut culpa dignissimos expedita natus
                nostrum quae sunt voluptatem! Alias at blanditiis commodi consectetur distinctio dolorem dolores
                doloribus ea enim eum excepturi facere fuga fugit incidunt ipsa ipsam iusto laboriosam molestiae nam
                natus, nemo nesciunt nisi nobis nulla numquam odio porro quas quod recusandae repellat rerum sapiente
                sunt suscipit ullam veritatis voluptas voluptates. Accusamus aliquam animi blanditiis consequatur
                consequuntur deserunt distinctio dolor dolorem doloremque eaque eos esse explicabo fugiat ipsum iste
                labore laborum laudantium maiores maxime minus modi neque nihil numquam perspiciatis quam quasi quis
                ratione repellat saepe, sit tenetur vero voluptas voluptates! Aut distinctio eveniet fuga impedit in
                ipsa laboriosam, quaerat saepe sed sunt vel vero. Accusamus consectetur debitis illo incidunt nisi
                provident veniam? Aliquid, culpa dolores exercitationem labore nulla reiciendis rem sint tempore
                tenetur? Accusantium commodi dignissimos dolores hic libero nisi provident quod rem, voluptatum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos ipsam iure magnam. Animi
                atque commodi dolore eaque eius eligendi, eveniet ex exercitationem inventore iure iusto labore
                laboriosam modi molestias mollitia nam nobis nulla obcaecati omnis optio porro quis quod reiciendis
                repellendus soluta totam vero voluptatum! Eaque facere maiores nesciunt officia praesentium. Architecto,
                at explicabo iure molestiae non odit quos tempora voluptatibus. Ab aut culpa dignissimos expedita natus
                nostrum quae sunt voluptatem! Alias at blanditiis commodi consectetur distinctio dolorem dolores
                doloribus ea enim eum excepturi facere fuga fugit incidunt ipsa ipsam iusto laboriosam molestiae nam
                natus, nemo nesciunt nisi nobis nulla numquam odio porro quas quod recusandae repellat rerum sapiente
                sunt suscipit ullam veritatis voluptas voluptates. Accusamus aliquam animi blanditiis consequatur
                consequuntur deserunt distinctio dolor dolorem doloremque eaque eos esse explicabo fugiat ipsum iste
                labore laborum laudantium maiores maxime minus modi neque nihil numquam perspiciatis quam quasi quis
                ratione repellat saepe, sit tenetur vero voluptas voluptates! Aut distinctio eveniet fuga impedit in
                ipsa laboriosam, quaerat saepe sed sunt vel vero. Accusamus consectetur debitis illo incidunt nisi
                provident veniam? Aliquid, culpa dolores exercitationem labore nulla reiciendis rem sint tempore
                tenetur? Accusantium commodi dignissimos dolores hic libero nisi provident quod rem, voluptatum!</p>
        </div>
        <p class="text-[16px] leading-normal text-black">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ex facilis, maiores nostrum officiis optio
            repellendus ullam voluptatem voluptatibus! Delectus in obcaecati sapiente! Animi architecto at commodi
            consectetur cumque deleniti deserunt dicta distinctio dolore ea excepturi facilis impedit in inventore ipsa
            itaque laborum maxime minima modi molestias mollitia neque, nisi non praesentium provident quaerat quas qui
            quia rem repellat repellendus tenetur ullam, voluptas? Adipisci aperiam aspernatur consectetur cum delectus
            dicta, dolor excepturi id iste, labore libero mollitia optio, pariatur qui rem unde veniam voluptatum!
            Blanditiis ipsum magnam quasi recusandae rerum similique. Alias aliquam, atque consequatur corporis cum
            cumque deserunt distinctio doloremque doloribus ducimus et eveniet facilis fuga fugit, hic illum iure
            laboriosam laborum laudantium maxime molestiae nulla odit perspiciatis porro provident quam quidem quis quo
            recusandae repellat, saepe sed sit suscipit tenetur vero vitae voluptates! Aliquid autem consequatur cumque
            deleniti, ducimus enim minus, nam neque nulla, perspiciatis praesentium repellat sapiente tempora. Accusamus
            aliquam consequuntur corporis delectus esse harum, illum ipsam laudantium modi mollitia nobis nulla odio
            officiis placeat provident quibusdam quis quisquam quod saepe sapiente tempore tenetur unde veritatis vero
            voluptas! Harum recusandae repudiandae vitae? Ab adipisci alias amet architecto at consectetur cum cumque
            cupiditate debitis ducimus earum eius et ex excepturi fuga harum illo inventore iure iusto maiores minima
            molestias nesciunt nihil quam quibusdam quidem quisquam reprehenderit, sed voluptas voluptate! Accusantium
            amet aperiam consectetur consequuntur culpa doloremque eveniet, excepturi expedita facere in ipsam iste iure
            laborum magni nemo nulla perferendis qui quo rerum similique sint tenetur ullam voluptatum. Aut commodi
            eaque explicabo, illo minima nulla sequi? Aliquid atque corporis dolorum est facilis magni nisi optio,
            repellendus repudiandae! Necessitatibus odio omnis perspiciatis, placeat praesentium quas. Accusamus
            asperiores consequuntur delectus deleniti eius error est expedita fuga id illum incidunt ipsum laudantium
            maxime modi, nam, necessitatibus nobis nostrum nulla numquam quaerat quisquam quod recusandae, reiciendis
            reprehenderit sequi ut voluptas! Ab accusamus alias animi corporis cum dicta, dignissimos, dolor dolorem
            doloribus ducimus eveniet fuga harum incidunt magni maxime modi nemo nesciunt nihil officia optio porro
            quibusdam quos reiciendis repellendus reprehenderit rerum soluta suscipit velit voluptas voluptatibus.
            Commodi ea eligendi esse fugiat iste minus nulla qui quis temporibus. A ad aliquid at consequuntur corporis
            dignissimos dolore doloremque dolorum earum eos esse ex explicabo impedit in libero maxime minus neque nisi,
            nulla optio repellat sunt tenetur ullam vero voluptate! Asperiores dicta dolor ea eaque earum eligendi eum
            eveniet expedita id illo ipsum itaque labore nostrum perferendis perspiciatis porro quam quasi quis ratione
            repellat reprehenderit repudiandae sapiente tempora, temporibus, unde veritatis vitae. Aliquid amet
            asperiores aut consectetur cum cumque deleniti dolorem eaque enim eos error, hic id laborum modi mollitia
            necessitatibus nesciunt nihil praesentium qui quidem quos ratione, reiciendis, repellat reprehenderit
            repudiandae saepe similique suscipit tempora velit voluptas? Adipisci alias deleniti distinctio, eos est
            excepturi illo porro repellat saepe ut. Architecto distinctio esse incidunt inventore itaque iusto maiores,
            molestias natus nihil nulla reprehenderit rerum saepe similique ut voluptatem. Alias aperiam consectetur
            corporis ea eligendi illo, laboriosam maiores minima neque nisi qui quidem rem tempore. Atque culpa cum,
            deleniti doloribus ex harum id iste laborum magnam magni nesciunt omnis pariatur quaerat quod sapiente
            tempora vel veniam voluptas? Aperiam aspernatur consectetur debitis dicta ducimus, ipsam laboriosam maiores,
            nisi, obcaecati praesentium quaerat qui quo sit. Accusantium animi aut culpa deserunt doloribus eius
            eligendi error expedita fugiat illo in iste itaque laboriosam maiores modi molestias nesciunt nihil odio
            quas quia quibusdam sapiente sequi suscipit totam vel veritatis, voluptate. Debitis dicta esse
            exercitationem labore quos vero. Adipisci delectus fugiat quos vero! Accusamus aperiam impedit praesentium
            rerum? Cum facilis itaque laborum nam necessitatibus quam saepe soluta voluptates. Delectus doloremque enim
            hic nostrum placeat quod sapiente similique sint vitae voluptatum! Autem consequatur hic id ipsa non nostrum
            repellendus tempore ut voluptatum. Asperiores at commodi est explicabo harum incidunt maiores modi, nobis
            non officia porro quisquam quos, rerum vel vero! Culpa, dignissimos, eius ex fugit illo in inventore itaque
            quia ratione soluta vel vitae. A ad aliquam, dolorem ex inventore officia quod repellat! Accusantium aut
            consequatur consequuntur corporis cum deserunt dolores doloribus ea exercitationem fugiat id, ipsa ipsam
            mollitia quibusdam quo, quos tempore vel, voluptas voluptatem voluptates? Aspernatur autem blanditiis
            deleniti eius est et exercitationem harum illum iste, neque nesciunt, numquam officia, qui quibusdam
            quisquam quod recusandae sequi voluptatem? Animi fugit quae sunt tempora. Accusantium consequuntur ea eaque,
            eius illum ipsum minima, nisi quas quasi quos rerum velit veniam vitae voluptatem voluptatibus! Amet aperiam
            asperiores aspernatur beatae culpa cum dolores doloribus ducimus eligendi eos facere harum hic illum
            inventore ipsa iure laboriosam libero magni nam necessitatibus nemo numquam officia quas quos temporibus
            totam, ullam veritatis? Accusamus illo impedit possimus quas ratione sapiente! Animi distinctio iure labore
            natus. Alias aperiam ducimus eaque ex ipsa laboriosam laudantium maiores nisi non nostrum, odio quo sapiente
            sequi? Aliquid consequuntur ea repellat repudiandae vitae! A adipisci aperiam aspernatur atque aut
            consequatur culpa cupiditate doloremque eligendi enim ex facere fugiat id illo itaque, libero maxime nostrum
            obcaecati officia praesentium quaerat quis quos reprehenderit rerum sint temporibus voluptas voluptate?
            Accusamus adipisci, aliquam amet autem blanditiis eaque et fuga inventore magni minus, molestias
            necessitatibus numquam quia suscipit totam! Ad aut deleniti doloribus ea eveniet excepturi exercitationem
            fugit labore minus molestias mollitia numquam optio quidem ratione, sequi! Aperiam eius eveniet facere harum
            ipsam mollitia necessitatibus numquam possimus quis sunt! A ab autem distinctio dolor esse eum expedita hic
            molestiae nemo sint. A accusamus aliquid animi at atque, commodi consectetur corporis cum dolores eius error
            esse, ex facilis, harum incidunt ipsum iste iure laboriosam natus nesciunt omnis optio placeat quas qui
            quibusdam quod ratione rem reprehenderit saepe sed sit velit vero voluptates! Eos fugiat ipsum laudantium
            libero, placeat tenetur. Accusantium amet aut consequatur consequuntur cupiditate, delectus dolore dolores
            eligendi esse excepturi facere fugiat harum illo inventore iusto laboriosam magni minima modi molestias
            mollitia nesciunt officiis possimus quas quasi recusandae temporibus velit voluptatibus? Alias aperiam,
            libero nulla odio perspiciatis repudiandae sed veritatis. A deserunt dignissimos dolorum ducimus, nostrum
            quas quidem saepe sequi temporibus voluptate voluptatem voluptatum! Aspernatur atque deserunt enim expedita
            illum inventore non nostrum!
        </p>
    </div>

</section>
{{> partials/footer.hbs }}