@tailwind base;
@tailwind components;
@tailwind utilities;


/* Normal Font @font-face */
@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-Italic.eot');
    src: url('../../assets/font/figtree/Figtree-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-Italic.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-Italic.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-Bold.eot');
    src: url('../../assets/font/figtree/Figtree-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-Bold.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-Bold.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-SemiBoldItalic.eot');
    src: url('../../assets/font/figtree/Figtree-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-SemiBoldItalic.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-SemiBoldItalic.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-MediumItalic.eot');
    src: url('../../assets/font/figtree/Figtree-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-MediumItalic.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-MediumItalic.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-SemiBold.eot');
    src: url('../../assets/font/figtree/Figtree-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-SemiBold.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-SemiBold.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-Medium.eot');
    src: url('../../assets/font/figtree/Figtree-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-Medium.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-Medium.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-BoldItalic.eot');
    src: url('../../assets/font/figtree/Figtree-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-BoldItalic.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-BoldItalic.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/font/figtree/Figtree-Regular.eot');
    src: url('../../assets/font/figtree/Figtree-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/figtree/Figtree-Regular.woff2') format('woff2'),
    url('../../assets/font/figtree/Figtree-Regular.woff') format('woff'),
    url('../../assets/font/figtree/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variable Font @font-face */
@font-face {
    font-family: 'Overused Grotesk';
    src: url('../../assets/font/overused-grotesk/OverusedGrotesk-VF.woff2') format('woff2 supports variations'),
    url('../../assets/font/overused-grotesk/OverusedGrotesk-VF.woff2') format('woff2-variations'),
    url('../../assets/font/overused-grotesk/OverusedGrotesk-VF.woff2') format('truetype-variations');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
    ascent-override: 100%;
}

/* Reset */
*, *:before, *:after { @apply box-border !outline-none; }
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video { @apply m-0 p-0 border-none text-[100%] [font:inherit] align-baseline [text-rendering:optimizeLegibility] [-webkit-font-smoothing:antialiased] [text-size-adjust:none]; }
body { @apply text-[100%] leading-normal font-sans; }
input, form, table, select, textarea, button { @apply font-sans text-[100%] leading-normal rounded-none !appearance-none resize-none outline-none border-none bg-transparent; }
select::-ms-expand { @apply !hidden; }
*, *:focus, *:focus-visible, *:hover, *:active, *::before, *::after { @apply !outline-none; }
footer, header, nav, section, main, article { @apply block; }
a, a:hover, a:active, a:focus, a:visited { @apply decoration-0; }
ol, ul, menu { @apply list-none m-0 p-0; }
/*blockquote, q { @apply [quotes:none]; }*/
/*blockquote:before, blockquote:after, q:before, q:after { @apply content-none; }*/
table { @apply border-spacing-0 border-collapse; }
input { @apply appearance-none; }
svg { @apply overflow-visible block; }
em { @apply italic; }
strong { @apply font-bold; }
input[type=search]::-ms-clear { @apply hidden h-0 w-0; }
input[type=search]::-ms-reveal { @apply hidden h-0 w-0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { @apply hidden; }
input[type="date"]::-webkit-inner-spin-button { @apply hidden appearance-none; }
input[type="date"]::-webkit-calendar-picker-indicator { @apply hidden appearance-none; }
input[type="file"]::-webkit-file-upload-button { @apply cursor-pointer }
.smart-menu { @apply will-change-[height,_transform] [&.scroll-down]:top-0 [&.scroll-down]:translate-y-0 [&.scroll-up.scroll-down]:-translate-y-full }
select:required:invalid { @apply text-black/50; }
option[value=""][disabled] { @apply hidden; }
option { @apply text-black; }

/* Custom Styles */
body {
    @apply bg-[#EFEFEF] select-none scroll-smooth antialiased scrollbar scrollbar-w-1 scrollbar-h-1 scrollbar-thumb-primary scrollbar-track-primary-100 scrollbar-thumb-rounded-3;
}
